/*  == Mobile First == */

@font-face {
  font-family: 'font1';
  src: local("Merriweather-LightItalic"),
        url('.\fonts\Merriweather-LightItalic.ttf') format('ttf');
    //  url('.\fonts\Merriweather.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}
@font-face {
  font-family: 'font2';
  src: local("OpenSans-Regular"),
  url('.\fonts\OpenSans-Regular.ttf') format('ttf');
    //  url('.\fonts\OpenSans.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}

/* BALISES DE BASES */
html{
    font-size: 62.5%;
    box-sizing: border-box;   
}
body{
    background-color: map-get($colors , main);
    color: map-get($written , main);
   // font-family: Georgia, Times, 'Times New Roman', serif;
    font-family: map-get($written , font1);
    font-size: $size-theme;
    padding: 0;
    margin: 0 auto;
    max-width: 1240px;
}
header{
    background-color: map-get($colors , header);
}
h1{
  text-align: center;
  font-size: 2.9rem;
 font-family: Georgia, Times, 'Times New Roman', serif;
  font-family: map-get($font-family , font1);

  // ligne de TITRE
  position: relative;
  display: inline-block;

  &::after{
    content: "";
    display: inline-block;
    height: 5px;
    width: 18rem;
   
    background-color: map-get($colors , color2 );
    position: absolute;
    left: calc(50% - 9rem);
    bottom: -2rem;
  }

  

}
h2{
    color: map-get($colors , color1);
    font-variant-caps: all-small-caps;
    text-align: center;
  font-family: Helvetica, Arial, sans-serif;
    font-family: map-get($font-family , font2);
    margin-top: 2.4rem;
    margin-bottom: 1.8rem;
    padding-bottom: 1rem;

  // ligne de TITRE
    position: relative;
    display: block;

      &::after{
        content: "";
        display: inline-block;
        width: 10rem;
        height: 3px;
        background-color: map-get($colors , color4);

        position: absolute;
        left: calc(50% - 5rem);
        top: 3.6rem;
        
      }
}
h2 span{
    color: map-get($colors , color2);
    
}
h3{
    color: map-get($colors, color2);
    text-transform: capitalize;
  font-family: Helvetica, Arial, sans-serif;
    font-family: map-get($written , font2);
}
h4{
  margin-left: 1rem;
  font-size: 1rem;
  color: map-get($written , color1);
  font-weight: bold;
  text-transform: capitalize;
}


p :first-of-type{
    font-size: 1.4rem;
}
p{
    font-size: 1.5rem;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
}

// navigation : Menu principal
.navigation {
    display: flex;
    flex-flow: column wrap;
    padding: 0;
    list-style: none;
    margin: 0; 
    background: map-get($colors , main); 
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  
  .navigation a:hover {
    background: #1565C0;
  }
  
  @media screen and (min-width: map-get($sizes , md)) {
    .navigation {
      justify-content: space-around;
    }
    h1{
      text-align: left;
    }
    h1::after{
      left: 5rem;
      
    }
  }
  
  @media screen and (min-width: map-get($sizes , lg)) {
    .navigation {
        flex-flow: row wrap;
        justify-content: flex-end;   
    }
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
      border-bottom: none;
    }
    
  }