/* MODULE footer */
//socialMedia

.socialMedia li{
    display: inline-block;
   font-size: 2.5rem;
    list-style: none;
      
}
.socialMedia i{
    color: map-get($colors , color4);
      
}
footer a{
    height: 2rem; 
}

.m-colonneF-flex-container{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1.5rem 0;

    
    border: 1px solid brown;
    }
    .m-colonneF-flex-item{
      
      border: 1px solid burlywood;
    }

    .logo{
        text-align: center;
        margin-top: 2.5rem;
        img{
           width: 33%;
        }
    }
    .conclusion{
        text-align: center;
    }
    .m-colonneCopy-flex-container{ 
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 1px solid brown;
        }
     .m-colonneCopy-flex-item{
            text-align: center;
            border: 1px solid burlywood;
     }
     .note{
        font-style: italic;
        font-size: 1.8rem;
     }



    @media screen and (min-width: map-get($sizes , md)){
        .logo{
            text-align: center;
            margin-top: 2.5rem;
            img{
               width: 20%;
            }
        }
        .m-colonneCopy-flex-container{ 
            display: flex;
            flex-direction: row;
            justify-content: center;
            border: 1px solid brown;
            }
            .m-colonneCopy-flex-item:last-child{
            margin-left: 0;
            }
            .m-colonneCopy-flex-item:last-child span {
                color: map-get($colors , color4);
                font-size: 1.8rem;
            }
    }
/* fin module footer */