section.m-color-quote{
    border: 1px solid yellow;
    min-width: 170px;
    padding-bottom: 5%;
    background-color: map-get($colors , color2);
}

blockquote{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    font-style: italic;
    


}
