.color-buttom{
    height: 3rem;
    width: 4 rem;
    padding: 1rem;
    background-color: map-get($colors , color3);
    color: map-get($written , color1 );
    text-transform: uppercase;
    text-align: center;
}