 .m-colonneN-flex-container{ 
    display: flex;
    flex-direction: column;
    }
    .m-colonneN-flex-item{
      width: 100%;
    }
    .m-colonneN-flex-item h3{
     margin-left: 5%;
    } 

@media screen and (min-width: map-get($sizes , md)){
    .m-colonneN-flex-container{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
    .m-colonneN-flex-item{
      width: 50%;
    }
    .m-colonneN-flex-item h3{
     margin-left: 5%;
    }
}

@media screen and (min-width: map-get($sizes , lg)){
  .m-colonneN-flex-container{ 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }
  .m-colonneN-flex-item{
    width: 32%;
    height: auto;
  }
  .m-colonneN-flex-item h3{
   margin-left: 5%;
  }
}






