.m-colonneC-big-container{
  display:flex;
  flex-direction: column;
  border: 3px dashed rgb(63, 4, 32);


  .m-colonneC-flex-container{ 
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      }
      .m-colonneC-flex-item{
        width: 100%;
        border: 1px solid burlywood;
      }
      .m-colonneC-flex-item h3{
      margin-left: 5%;
      } 
}

@media screen and (min-width: map-get($sizes , md)){
    .m-colonneC-flex-container{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
    .m-colonneC-flex-item{
      width: 50%;
     
    }
    .m-colonneC-flex-item h3{
     margin-left: 5%;
    }
}

