/* MODULE meet our team */
.m-colonneT-big-container{
    display:flex;
    flex-direction: column;
    border: 1px solid lightblue;


    .m-colonneT-flex-container{ 
        display: flex;
        flex-direction: row;
        border: 1px solid rgb(139, 51, 0);
        }
        img.m-imgTeam {
        width: 50%;
        height:auto;
    }
        .m-colonneT-flex-item{
        width: 100%;
        }
        .m-colonneT-flex-item h3{
        margin-left: 5%;
        } 
}

@media screen and (min-width: map-get($sizes , md)){
    .m-colonneT-big-container{
       
    display: flex;
    flex-direction: column;
    width: 32%;
   
    }
    .m-colonneT-flex-container{ 
      display: flex;
      flex-direction: column;
      border: 1px solid rgb(139, 51, 0);
      }
      img.m-imgTeam {
      max-width: 32%;
      height:auto;
  }
      .m-colonneT-flex-item{
      width: 100%;
      }
      .m-colonneT-flex-item h3{
      margin-left: 5%;
      } 
}

@media screen and (min-width: map-get($sizes , lg)){
    .m-colonneT-flex-container{ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    }
    .m-colonneT-flex-item{
      width: 23%;
    }
    .m-colonneT-flex-item h3{
     margin-left: 5%;
    }
}

/* fin du MODULE meet our team */