section.m-latest-projects{
    border: 1px solid yellow;
    min-width: 170px;
    padding-bottom: 5%;
}
.fa{
    color: map-get($colors , color3);
}
h2{
    color: map-get($colors , color1);
    text-transform: uppercase;
}
h2 span{
    color: map-get($colors , color2);
}

/* GALERIE PHOTOS */

.m-galerie{
     display: flex;
    flex-direction: row;
    // wrap pour aller à la ligne automatiquement
    flex-wrap: wrap;
    width: 100%;

     
} 
img.m-imgGalerie {
        //width 50% pour en avoir 2 en smatphone
        width: 50%;
        height: auto;
    } 
@media screen and (min-width: map-get($sizes , md)){

    img.m-imgGalerie {
        //width 33% pour en avoir 3 en vue tablette
        width: 33%;
        height: auto;
    }
}
@media screen and (min-width: map-get($sizes , lg)){
    img.m-imgGalerie {
    //width 25% pour en avoir 4 en vue bureau
    width: 25%;
    height: auto;
    }
}



    
 


