.m-colonneC-big-container{
  display:flex;
  flex-direction: column;
  border: 3px dashed rgb(63, 4, 32);

}
.m-colonneC-flex-container{ 
  display: flex;
  flex-direction: column;
  
  border: 1px solid brown;
  }
  .m-colonneC-flex-item{
    width: 100%;
    border: 1px solid burlywood;
  }
  .m-colonneC-flex-item h3{
  margin-left: 5%;
  } 
  .form-flex{
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    flex-wrap: wrap;
    }
    .m-colonneC-flex-item{
      width: 100%;
      border: 1px solid rgb(128, 113, 93);
    }
    .m-colonneC-flex-item h3{
     margin-left: 5%;
    } 
=======
    padding: 1rem;
  }
  input, textarea{
    padding: 1rem;
    margin: 1rem;
    background-color: map-get($colors , color5);
>>>>>>> 40680018930055d39d4370899f95182b90adda58

  }
  [type="submit"]{
    background-color: map-get($colors , color2);
  }
@media screen and (min-width: map-get($sizes , md)){
    .m-colonneC-flex-container{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    .m-colonneC-flex-item{
      width: 50%;
     
    }
    .m-colonneC-flex-item h3{
     margin-left: 5%;
    }
   }
}

