 .l-colonneN-flex-container{ 
   // min-height: 17rem;
    display: flex;
    flex-direction: column;
    }

    .l-colonneN-flex-item h3{
     margin-left: 5%;
    }

@media screen and (min-width: map-get($sizes , md)){
    .l-colonneN-flex-container{ 
  //  min-height: 17rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

    .l-colonneN-flex-item h3{
     margin-left: 5%;
    }
}




